@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply min-h-screen font-normal m-0;
    font-family: 'Exo 2', sans-serif;
}
body::-webkit-scrollbar {
    @apply md:w-1;         /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    @apply bg-purp;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    @apply md:bg-greeny md:rounded-2xl;    /* color of the scroll thumb */     /* roundness of the scroll thumb */
/* border: 3px solid orange;  creates padding around scroll thumb */
}

@media (min-width: 768px){
    body{
        zoom: 175%;
    }
}

header{
    @apply flex justify-center p-5 border-b-4;
    border-color: #53B51A;
}
.banner{
    @apply bg-gradient-to-br from-purple via-lblue to-dblue py-4;
}


.content{             /* Sets padding to content in body */ 
    @apply p-3 text-center; 
}

/* main title configs */
.title{
    @apply text-center;
}

.title h1{
    @apply text-xl text-white font-semibold;
}

.title h2{
    @apply text-xl text-white;
}
.text {
    @apply text-white mt-3;
}
/* *** */

.left_content{
    text-align: -webkit-center;
    @apply mt-4;
}


/* stylizing social sharing */
.social{
    @apply flex flex-row space-x-4 mt-2 flex-wrap;
}
.social2{
    @apply justify-center mb-3 mt-2;
}
.box_image{
    @apply p-2 rounded;
}
.tw {
    @apply bg-blue-500;
}
.fb {
    @apply bg-fb;
}
.lkd{
    @apply bg-indigo-600;
}
.white{
    @apply bg-white;
}
.link{
    @apply font-bold -mt-1;
}
.copy_link{
    @apply flex flex-row justify-center align-middle h-8;
}
.social_image{
    @apply w-4 h-4;
}

/* *** */

.section{
    @apply p-3;
}
.right_content{
    @apply flex justify-center mt-2;
}


/* Form  */

.form{
    @apply  bg-white text-left p-4 rounded mt-2; 
}
.form h3{
    @apply text-xl mb-2 ;
}
.form #lgpd, #lgpd-label, #privacy{
    @apply text-xs;
}
#privacy{
    @apply text-center;
}
#privacy a{
    @apply text-blue-700 underline;
}
.check{
    @apply flex justify-center align-middle space-x-1;
}
input {
    @apply border w-full rounded mb-2;
    border-color: #E6E6E6;
}
input#lgpd {
    @apply w-min;
}
.button{
    @apply bg-greeny p-2 text-white text-xs cursor-pointer;
}
.button:disabled {
    @apply bg-gray-500 cursor-not-allowed;
}
label{
    font-family: 'Exo 2', sans-serif;
    @apply text-left text-sm;
}
input:invalid {
    @apply border-red-500;
}

/* *** */

/* Palestrante */

.palestrante{
    @apply text-center mt-3;
    text-align: -webkit-center;
}
h2.subtitle{
    @apply text-xl font-bold pb-1 mb-1 border-b-2 border-greeny w-max text-center;
}
.palestrante img{
    @apply w-auto;
}

/*  */

/* Depois do Webinar */

.webinar {
    @apply bg-webinar;
}
.t_web{
    @apply mt-8 text-center;
}
.sec_title{
    @apply text-center;
    text-align: -webkit-center;
}

.circle{
    @apply p-6 bg-white rounded-full h-24 w-24 flex items-center justify-center;
}
.pot h2, .pot p, .work h2, .work p, .agile h2, .agile p{
    @apply text-center text-white;
}
.after_title{
    @apply font-semibold mt-2 mb-2 text-lg text-white;
}
.after_p{
    @apply text-sm;
}
.pot {
    @apply bg-greeny text-center p-4 mt-5;
    text-align: -webkit-center;
}
.work {
    @apply bg-workflow text-center p-4 mt-2;
    text-align: -webkit-center;
}
.agile {
    @apply bg-agile text-center p-4 mt-2 mb-8;
    text-align: -webkit-center;
}
/* *** */

/* Depoimentos */
.slide_content{
    @apply flex flex-col-reverse text-center;
    text-align: -webkit-center;
}
.u_case{
    @apply uppercase text-sm mt-3   ;
}
.autor{
    @apply text-center text-sm font-bold mt-3;
}
.autor_company {
    font-family: 'Roboto', sans-serif;
    @apply text-xs text-center;
}
.slide-container {
    @apply w-11/12 mx-auto;
}
.glider-prev,.glider-next {
    @apply top-auto -mt-44;
}
.glider-prev {
    @apply left-0;
}
.glider-next {
    @apply right-0;
}
/* *** */

/* footer */
.footer{
    @apply bg-greeny border-t-4 border-purp flex justify-center;
}
.f_cont{
    @apply p-12;
}
.f_cont p{
    @apply text-white text-xs mb-4 mt-4;
}

/* *** */



/* min-width: 768px */

header #logo_f{
    @apply md:w-10%;
}

.flex_cont{
    @apply md:flex md:space-x-4;
}
.left_content{
    @apply md:text-left md:max-w-lg md:pl-12;
}
.right_content{
    @apply md:absolute md:right-0;
}
.left_content video{
    @apply md:max-w-sm;
}
.social{
    @apply md:space-x-2;
}
.copy_link{
    @apply md:space-x-1;
}
.social_flex{
    @apply md:flex md:justify-start md:space-x-3;
}
.social_flex p{
    @apply md:text-tiny md:font-normal;
}
.box_image{
    @apply md:p-1.5 md:max-h-5;
}
.social_image{
    @apply md:w-2 md:h-2;
}

.form{
    @apply md:w-3/4 md:shadow-lg;
}
label, p#question, .form #lgpd-label, p#privacy{
    @apply md:text-tiny;
}

.palestrante{
    @apply md:flex;
}
.palestrante h2{
    @apply md:text-base;
}
.palestrante p{
    @apply md:text-xs md:w-2/3;
}
.social2{
    @apply md:float-left;
}
.palestrante #marina{
    @apply md:w-3/6;
}
.pal_flex_cont{
    @apply md:max-w-xs md:text-left;    
}
.sec_pal{
    @apply md:pb-14 md:pt-8;
}


.sec_title{
    @apply md:text-left md:px-12 md:pb-12;
}
h2.subtitle.t_web{
    @apply md:mb-8;
}
.after{
    @apply md:flex md:justify-items-start md:space-x-5;
}
.pot, .work, .agile{
    @apply md:min-h-afters md:my-0 md:rounded;
}

.glider-slide img{
    @apply md:w-2/6;
}

.slide_content{
    @apply md:flex md:text-left md:flex-row md:space-x-2;
}
@media(max-width: 768px){
    .slide_content{
        text-align: -webkit-left;
    }
}

h2.subtitle .sec_title_dep{
    @apply md:text-left md:pl-0;
}
.u_case{
    @apply md:w-8/12;
}
.content_width{
    @apply md:w-5/12;
}
.u_case{
    @apply md:text-xs md:text-left;
}
.autor, .autor_company{
    @apply md:text-left md:text-xs;
}
.glider-prev, .glider-next{
    @apply md:-mt-8;
}
.glider-next{
    @apply md:right-10;
}
.glider-prev{
    @apply md:left-10;
}


.f_cont{
    @apply md:flex md:space-x-32;
}
.f_cont #logo {
    @apply md:w-1/5;
}
.f_cont p{
    @apply md:text-tiny;
}
.f_cont .social2{
    @apply md:mt-4;
}
.f_cont .social2 .social_image{
    @apply md:w-3 md:h-3;
}

/* *** */