<style>
    @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


    body{
        font-family: 'Exo 2', sans-serif;
    }
    .py{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .title{
        font-family: 'Exo', sans-serif;
        font-weight: bold;
        color: #3F135E;
        font-size: 44px;
    }
    h1, h2{
        font-size: 40px;
    }
    .web{
        font-family: 'Exo', sans-serif;
        font-size: 22px;
        font-weight: bold;
        color: #3F135E;
    }
    .foot{
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        color: #878787;
    }
    .medium{
        font-family: 'Exo 2', sans-serif;
        font-size: 14px;
        font-weight: 500;
    }
    .white{
        color: white ;
    }
    .bolder{
        font-weight: bold;
    }
    .para{
        font-size: 22px;
    }
    .center{
        text-align: center;
    }
    .td-left {
        padding-left: 10%;
        width:56.7%;
    }
    .td-right {
        padding-right: 10%;
    }
    .pad{
        padding: 10px;
    }
</style>

<table cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
    <tr>
        <td class="td-left py">
            <img src="https://frosty-mahavira-3571ca.netlify.app/flock_logo.png" height="50 px">
        </td>
        <td class="td-right py" style="text-align: right;">
            <a href="https://frosty-mahavira-3571ca.netlify.app/" target="_blank"> <p class="web">Visitar website ></p> </a>
        </td>
    </tr>
    <tr>
        <td class="td-left title break">
            <h1>Que bom <br>que você se<br> inscreveu !!!</h1>
        </td>
        <td class="td-right"><img src="https://frosty-mahavira-3571ca.netlify.app/girl.png" height="400px"></td>
    </tr>
    <tr>
        <td colspan="2" class="py td-left">
            <p class="para">
                Sua Inscrição no Webinar “Estratégias de negociação Online Sem Barreiras”
                está super confirmada!!
            </p>
            <p class="bolder para">
                Nos encontramos no dia 29.09
            </p>
            <a href="https://frosty-mahavira-3571ca.netlify.app/" target="_blank">
                <img src="https://frosty-mahavira-3571ca.netlify.app/Button.png" height=" 60px">
            </a>
        </td>
    </tr>
    <tr style="background-color: purple;">
        <td class="white td-left title py">
            <h2>O que te espera <br>nesse Webinar.</h2>

            <p class="medium">
                <span class="bolder"> Marina Mesquita</span> é Doutora em psicologia, professora de pós e graduação em psicologia organizacional e RH na FGV. 
                Em breve você terá a oportunidade 
                de aprender mais com ela. <span class="bolder">Até mais.</span>           
            </p>
        </td>
        <td class="td-right center py">
            <img src="https://frosty-mahavira-3571ca.netlify.app/Palestrante%201.png" height=" 220px">

        </td>
    </tr>
    <tr>
        <td colspan="2" class="center py">
            <img src="https://frosty-mahavira-3571ca.netlify.app/flock_logo.png" height="60px">
            <p class="foot bolder">
                info@flock.com.br  
            </p>
            <p>
                Se preferir não receber e-mails como este, você pode <a href="#">cancelar a inscrição</a>
                (c) 2019 ServerSharing. Todos os direitos reservados.
            </p>

            <a class="pad" href="#"><img src="https://frosty-mahavira-3571ca.netlify.app/facebook_gray.png" height="32px"></a>
            <a class="pad" href="#"><img src="https://frosty-mahavira-3571ca.netlify.app/twitter_gray.png" height="32px"></a>
            <a class="pad" href="#"><img src="https://frosty-mahavira-3571ca.netlify.app/instagram_gray.png" height="32px"></a>

        </td>
    </tr>
</table>